$header-height: 60px;

$page-background-color:#1d1d1d;
$hero-title:#D90E0A;
$hero-subtitle:#9F9F9F;
$content-heading: #9F9F9F;
$content-highlight: #E34E33;
$brand-text:#fff;
$module-alt-heading: #5EC1C2;
$article-footer: #F05134;

$theme-main-text:#fff;
$theme-secondary-text:#9F9F9F;
$twit-color: #67D9DA;
$twit-background: #464646;
$diviver-color:#282828;

$hero-title:#D90E0A;
$hero-subtitle:#9F9F9F;
$content-heading: #9F9F9F;
$content-highlight: #E34E33;
$brand-text:#fff;
$module-alt-heading: #5EC1C2;
$article-footer: #F05134;