html, body, .page-container {
	height: 100%;
}

img {
	max-width: 100%;
}

h2 {
	overflow: hidden;
	text-overflow: ellipsis;
}
.logo-container {
	// margin-top: 3%;
	// margin-bottom: 3%;
}
.menu {
	margin-top: 1%;
}
.twit-container {
	margin-top: 1%;
}