@import "../../neat/_neat";

@media screen and (min-width: 320px) and (max-width: 600px) {
    nav {
        display: none;
    }
    .logo-container {
        float: left;
        width: 100px;
    }
    .menu {
        float: right;
        width: auto;
        margin-right: 20px;
        img {
            max-width: 40px;
        }
    }
    .featured-work article {
        @include grid-column(1 of 2);
    }
    .main-content img {
    	margin-top: 10px;
    }
    .content-container {
    	margin-top: 10px;
    }
}