@media screen and (max-width: 320px) {
  nav {
    display: none; }
  .hero-content {
    display: none; } }

.page-container {
  width: calc(100% - 10px);
  float: left;
  margin-left: 5px;
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px);
  height: auto; }
  .page-container::after {
    clear: both;
    content: "";
    display: block; }

header {
  margin-bottom: 10px;
  background-color: #000;
  opacity: 0.75; }
  header::after {
    clear: both;
    content: "";
    display: block; }

.logo-container {
  width: calc(33.33333% - 26.66667px);
  float: left;
  margin-left: 20px;
  height: 100%;
  text-align: center;
  margin-top: 3%;
  margin-left: 20px; }

.twit-container {
  width: calc(16.66667% - 23.33333px);
  float: left;
  margin-left: 20px;
  margin-left: calc(33.33333% - 26.66667px + 40px);
  height: 100%; }

.menu {
  width: calc(16.66667% - 23.33333px);
  float: left;
  margin-left: 20px;
  height: 100%; }

.hero-container {
  min-height: 40%;
  overflow: hidden;
  background-image: url("../assets/hero1.png");
  background-size: cover;
  position: relative; }

.hero img {
  max-height: 100%;
  max-width: 100%; }

.hero-text {
  position: absolute;
  width: 45%;
  height: 60%;
  bottom: 0;
  right: 0; }
  .hero-text .hero-title {
    display: inline-block;
    text-align: right;
    padding-right: 15px; }
  .hero-text .highlight {
    display: inherit;
    text-align: right;
    padding-right: 15px; }

main {
  background-color: #1D1D1D; }

h2 {
  color: #9F9F9F;
  text-transform: capitalize; }

main {
  height: auto;
  padding: 10px; }
  main h2 {
    margin: 0 0 0 20px; }

section.featured-work::after {
  clear: both;
  content: "";
  display: block; }

section.featured-work::after {
  clear: both;
  content: "";
  display: table; }

section.featured-work article {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px; }

section.featured-work article:last-child {
  display: none; }

section.featured-work .sub-title {
  display: block;
  margin-left: 20px;
  margin-bottom: 5px; }

section.wire {
  min-height: 100%;
  margin-left: 20px; }
  section.wire h2 {
    margin-left: 0; }

article {
  margin-bottom: 10px; }

.content-container {
  height: 100%; }
  .content-container::after {
    clear: both;
    content: "";
    display: table; }
