@import "../variables";

.atcl-title {
    color: $article-title;
    text-transform: capitalize;
    font-family: serif;
    font-size: 14px;
    font-weight: 600;
}

.atcl-alt-title {
    color: $module-alt-heading;
    text-transform: capitalize;
    font-family: serif;
    font-size: 14px;
    font-weight: 600;
}

.atcl-cotent {
    color: $content-heading;
}

.highlight {
    color: $content-highlight;
}

.menu a {
	color: $theme-main-text;
	text-transform: capitalize;
	&:active {
		color: $theme-secondary-text;
	}
	&:hover {
		color: $content-highlight;
	}
}

