.atcl-title {
    color: #fff;
    text-transform: capitalize;
    font-family: serif;
    font-size: 14px;
    font-weight: 600;
}

.atcl-alt-title {
    color: #5EC1C2;
    text-transform: capitalize;
    font-family: serif;
    font-size: 14px;
    font-weight: 600;
}

.atcl-cotent {
    color: #9F9F9F;
}

.highlight {
    color: #E34E33;
}