html * {
  font-family: sans-serif; }

.logo img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto; }

.menu img {
  max-width: 100%;
  max-height: 100%; }

.twit-container img {
  max-width: 100%;
  max-height: 100%; }

.hero-title {
  color: #D90E0A;
  font-weight: 700; }

.hero-content {
  color: #9F9F9F;
  height: inherit; }

.longer {
  transform: scaleY(1.3); }

.highlight {
  color: #E34E33; }
